<!DOCTYPE html>
<html>

  <body>

<p id="notice"><%= notice %></p>

<header>

<h1>Orchis</h1>

</header>

<hr color="grey">


<img id="fleurlogo" src="http://clipart-library.com/img/1744166.png" />

<link href="https://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet"> 

<!-- Test -->
<div class="container">
  
  <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
     <circle cx="170" cy="170" r="160" stroke="#E2007C"/>
     <circle cx="170" cy="170" r="135" stroke="#404041"/>
     <circle cx="170" cy="170" r="110" stroke="#E2007C"/>
     <circle cx="170" cy="170" r="85" stroke="#404041"/>
  </svg>
  
</div>

<!-- fin du test -->


<table>

  <thead>

    <!-- Fonctionnel-->
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Family</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>

  </thead>



  <tbody>
   
  <!-- Fonctionnel -->

    <% @contents.each do |content| %>
      <tr>

        <td><%= image_tag content.image, class: 'image' %></td>
        <td class="nom"><%= content.name %></td>
        <td><%= content.family %></td>
        <td><%= content.description %></td>
        <td><%= link_to 'Show', content %></td>
        <td><%= link_to 'Edit', edit_content_path(content) %></td>
        <td><%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Content', new_content_path %>

</body>