<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @content.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @content.name %>
</p>

<p>
  <strong>Family:</strong>
  <%= @content.family %>
</p>

<p>
  <strong>Description:</strong>
  <%= @content.description %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
